body {
  background-color: black;
  max-width: 99%;
  height: 100vh;
}
* {
  padding: 0;
  margin: 10px;
  font-size: 18px;
  margin: 0;
  font-family: monospace;
  box-sizing: border-box;
}
input {
  height: 2rem;
  width: 15rem;
  background-color: black;
  border: 1px solid #74ee15;
  color: #74ee15;
  margin: 5px;
  padding: 3px;
}
#answer {
  display: none;
  color: white;
}
.cursor {
  display: inline-block;
  animation: blinkCursor 0.7s infinite;
  color: white;
}

#answer {
  width: 100%;

  word-wrap: break-word;
  margin: 10px 5px;
}

#submit {
  background-color: #ffe700;
  margin: 5px;
  padding: 5px;
}
.text {
  padding: 5px;
  color: #ffe700;
}
#answer {
  color: #74ee15;
  letter-spacing: 1px;
  line-height: 1.2;
  border: solid #74ee15 1px;
  padding: 10px;
}
#pow {
  background-color: black;
  margin: 0 5px;
}
#oneBy {
  color: #74ee15;
  font-size: 30px;
  border-bottom: solid 2px #ffe;
  display: block;
  width: 50%;
  text-align: center;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: fit-content;
  justify-items: center;
}
sup {
  font-size: 10;
}

#wait {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 30;
  text-align: center;
  color: #fff;
  top: 0;
  left: 0;
  background-color: rgba(69, 69, 69, 0.6);
  height: 100%;
  width: 100%;
  font-size: 30px;
}
@media only screen and (max-width: 700px) {
  * {
    font-size: 15px;
    margin: 0;
  }
  #oneBy {
    font-size: 20px;
  }
  #wait {
    font-size: 20px;
  }
  input {
    margin: 5px;
  }
  nav {
    font-size: 25px;
  }
  #question {
    font-size: 20px;
  }
  #forWhat {
    font-size: 17px;
  }
}
nav {
  position: sticky;
  top: 0;
  color: white;
  height: 50px;
  font-size: 25px;
  padding-top: 10px;
  background-color: black;
  /* text-align: center; */
  padding-left: 5px;
}
#forWhat {
  color: white;
  margin: 20px 5px;
  max-width: 500px;
}
#question {
  font-size: 25px;
  color: #fff;
  margin: 20px 5px;
}
